@import './variables';


.follow-container {
  width: 130px;
}

.follow-button {
  height: 37px;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid $red;
  color: $red;
  background-color: transparent;
}

.button-active {
  background-color: $red;
  color: $white;
}
